html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

*:link, *:visited{
	color: currentColor;
	text-decoration: none;
}

body {
	overflow-x: hidden;
	color: #fefefe;
	background: #131313;
	user-select: none;
	font-family: 'Alegreya Sans';
	font-size: 3rem;
	
	height: 200rem;
}

.wrapper {
	position: relative;
	height: auto;
	max-width: 128rem;
	margin: 0 auto;
}
