.heading-primary {
	font-size: 5em;
	font-weight: 500;
	text-align: center;
	text-shadow:
		// 0 0 6px currentColor,
		0 0 6px black,
		0 0 6px black,
		0 0 6px black,
		0 0 18px black,
		0 0 18px black,
		0 0 18px black;
}

.heading-secondary {
	width: 100%;
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 3rem;
}

.heading-sub {
	font-size: .25em;
	letter-spacing: 4px;
	text-transform: lowercase;
}

.header {
	position: relative;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	max-width: inherit;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
		width: 100vw;
		height: 100%;
		background: url(../images/header-bg.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: -1;
		filter: hue-rotate(80deg);
	}
}

.navbar {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	width: 100%;
	padding: 1rem 2rem;
	max-width: inherit;
	z-index: 100;

	& a {
		transition: .3s all;

		&:hover {
			text-shadow: 0 0 .5em currentColor;
		}
	}

	&__label {
		margin-right: .5em;
	}

	&__brand {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: auto;

		&__icon {
			font-size: .75em;
		}
	}

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		font-size: 2rem;
	}

	&__link:not(:last-child) {
		margin-right: 1em;
	}

	&__link:link, &__link:visited {
		color: currentColor;
	}

	&::after {
		position: absolute;
		content: "";
		width: 100vw;
		height: 100%;
		background: #131313;
		z-index: -1;
	}
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	& > :not(:last-child) {
		margin-bottom: 3rem;
	}
}

.projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	height: auto;
	width: 100%;

	& > * {
		margin: 0 1rem 3rem;
	}
}

.project {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	width: 31%;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	transition: .3s all;
	text-align: center;

	& > :not(:last-child) {
		margin-bottom: .75em;
	}

	&__graphic {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 24rem;
		width: 100%;
		background-image: url(../images/temp.jpg);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&__link {
		width: 100%;
		height: auto;
		padding: .75em;
		font-size: .75em;
		background: #131313;
		color: #00fff7;
		transform: translate(0, 25%);
		opacity: 0;
		transition: .3s all;
	}

	&__title {
		padding: 0 1em .25em;
		border-bottom: 3px solid currentColor;
	}

	&__desc {
		font-family: 'Alegreya Sans'
	}
}

.footer {
	position: relative;
	width: 100%;
	height: auto;
	padding: 0 .5em;
}

#portfolio-project { background-image: url(../images/portfolio-project.jpg) }
#memory-game { background-image: url(../images/memory-game.jpg) }
#arcade-classic { background-image: url(../images/arcade-classic.jpg) }
#feedreader-testing { background-image: url(../images/feedreader-testing.jpg) }
#restaurant-review { background-image: url(../images/restaurant-review.jpg) }
#jamila-wallace-portfolio { background-image: url(../images/jamila-wallace-portfolio.jpg) }
#the-big-brown { background-image: url(../images/the-big-brown.jpg) }

#task-manager-api { background-image: url(../images/task-manager-api.jpg) }

#chat-app { background-image: url(../images/chat-app.jpg) }
#weather-app { background-image: url(../images/weather-app.jpg) }
#fountain-of-dreams { background-image: url(../images/fountain-of-dreams.jpg) }