@media screen and (max-width: 1300px) {
	.project {
		width: 42%;
	}
}

@media screen and (min-width: 1000px) {
	.navbar {
		& a:hover {
			transform: translate(0, -10%);
		}
	}
	
	.project {
		&:hover {
			transform: translate(0, -8px);
		}
		
		&:hover &__link {
			transform: translate(0, 0);
			opacity: 1;
		}
	}
}

@media screen and (max-width: 1000px) {
	.heading-primary {
		font-size: 4em;
		margin: .25em;
	}

	.heading-sub {
		font-size: .32em;
	}

	.projects {
		& > * {
			margin: 0 0 5rem;
		}
	}
	
	.project {
		width: 65%;

		&__link {
			font-size: .8em;
			padding: 1em 0;
			opacity: 1;
			transform: translate(0, 0);
		}
	}
}

@media screen and (max-width: 800px) {
	body {
		font-size: 2.4rem;
	}

	.project {
		width: 75%;
	}

	.navbar {
		&__brand {
			display: none;
		}
		
		&__label {
			display: none;
		}

		&__link {
			font-size: 1.25em;
		}

		&__link:not(:last-child) {
			margin-right: .5em;
		}
	}
}

@media screen and (max-width: 600px) {
	.heading-primary {
		font-size: 3em;
	}
	
	.project {
		width: 100%;

		&__desc {
			width: 80;
		}
	}
}

@media screen and (max-width: 480px) {
	body {
		font-size: 2rem;
	}
}