:root {
	/* BASE16 TOMORROW */
	--base16-red: #cc6666;
	--base16-green: #b5bd68;
	--base16-yellow: #f0c674;
	--base16-blue: #81a2be;
	--base16-purple: #b294bb;
	--base16-turquoise: #8abeb7;

	--base16-white: #c5c8c6;
	--base16-grey: #373b41;
	--base16-black: #1d1f21;
}
