:root {
	/* BASE16 TOMORROW NIGHT*/
	--base16-red: #cc6666;
	--base16-orange: #de935f;
	--base16-yellow: #f0c674;
	--base16-green: #b5bd68;
	--base16-turquoise: #8abeb7;
	--base16-blue: #81a2be;
	--base16-purple: #b294bb;

	// /* BASE16 HELIOS*/
	// --base16-red: #d72638;
	// --base16-orange: #eb8413;
	// --base16-yellow: #f3d139;
	// --base16-green: #88b92d;
	// --base16-turquoise: #1ba583;
	// --base16-blue: #1e8bac;
	// --base16-purple: #be4264;

	--base16-white: #c5c8c6;
	--base16-light-grey: #b4b7b4;
	--base16-grey: #969896;
	--base16-dark-grey: #373b41;
	--base16-black: #1d1f21;
}
