html {
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

*:link,
*:visited {
	color: currentColor;
	text-decoration: none;
}

body {
	background-image: url('/images/bg.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	image-rendering: pixelated;
	image-rendering: -webkit-optimize-contrast;
	font-size: 16pt;
	font-family: 'ＭＳ ゴシ  ック', 'MS Gothic', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', '游ゴシック', '游ゴシック体',
		YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, HiraKakuProN-W3, 'TakaoExゴシック', TakaoExGothic, 'MotoyaLCedar',
		'Droid Sans Japanese', sans-serif;
}

#wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	min-height: 100vh;
	overflow: hidden;
}

.header {
	user-select: none;
	display: flex;
	width: 100%;
	padding: 8px;
	background-color: var(--base16-black);
	font-size: 10pt;

	& img {
		width: auto;
		height: 16px;
	}
}

.navbar {
	display: flex;
	justify-content: center;
	align-items: center;

	&__link {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--base16-white);

		&__icon {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 24px;
			width: 32px;
		}

		&__text {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 24px;
			padding: 0 6px;
		}
	}

	&__link.active {
		background-color: var(--base16-green);
	}
}

.player {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 16px;
	margin-right: auto;

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 24px;
		width: 32px;
		background-color: var(--base16-blue);
	}

	&__text {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 24px;
		padding: 0 6px;
		background-color: var(--base16-white);
	}
}

.widgets {
	display: flex;
	justify-content: center;
	align-items: center;

	& > :not(:last-child) {
		margin-right: 1.6rem;
	}
}

.widget {
	display: flex;
	justify-content: center;
	align-items: center;

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--base16-white);
		height: 24px;
		width: 32px;

		&--network {
			background-color: var(--base16-turquoise);
		}

		&--time {
			background-color: var(--base16-yellow);
		}
	}

	&__info {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--base16-white);
		height: 24px;
		padding: 0 6px;
	}
}

.desktop {
	position: relative;
	width: 100%;
	flex: 1;
	transition: all 1s;
}

.workspace {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.windows {
	flex-shrink: 0;
	margin: auto;
	display: grid;
	gap: 32px;
	width: 56rem;
	height: 64rem;
}

.workspace--home .windows {
	margin: auto;
	display: grid;
	gap: 32px;
	width: 108rem;
	height: 64rem;
	grid-auto-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-auto-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas:
		'a a a b b'
		'a a a b b'
		'a a a b b'
		'a a a b b'
		'a a a c c'
		'a a a c c'
		'a a a c c';
}

.workspace--projects .windows {
	margin: auto;
	display: grid;
	gap: 32px;
	width: 108rem;
	height: 64rem;
	grid-auto-columns: 1fr 1fr 1fr;
}

.window {
	overflow-x: hidden;
	overflow-y: auto;
	overscroll-behavior: contain;
	background-color: var(--base16-black);
	box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.801);
	color: var(--base16-white);
	text-shadow: 3px 3px 3px black;

	&--introduction {
		padding: 12rem;
		grid-area: a;
		line-height: 1.2em;

		& > :not(:last-child) {
			margin-bottom: 2rem;
		}
	}

	&--profile {
		padding: 2rem;
		grid-area: b;

		& div {
			width: 100%;
			height: 100%;
			overflow: hidden;

			& img {
				object-fit: cover;
				height: 100%;
			}
		}
	}

	&--fetch {
		padding: 2rem;
		grid-area: c;
		display: flex;
		font-size: 10pt;
		line-height: 1.4em;

		& section {
			flex-basis: 50%;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 1rem 0 1rem 2rem;

			& > :last-child {
				margin-top: auto;
			}
		}

		& legend {
			margin: 0 auto;
			display: flex;
			height: 2rem;
			width: 100%;
			box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.534);

			& div {
				flex: 1;
				height: 100%;
				background-color: currentColor;
			}
		}

		& > div {
			display: flex;
			justify-content: center;
			height: 100%;
			flex-basis: 50%;
			min-width: 50%;
			overflow: hidden;
		}

		& img {
			object-fit: cover;
			max-height: 100%;
		}
	}

	&--catalogue {
		grid-column: span 2;
		grid-row: 1;
		padding: 4rem;

		& > :not(:last-child) {
			margin-bottom: 2rem;
		}
	}

	&--details {
		grid-column: span 3;
		grid-row: 1;

		display: flex;
		justify-content: center;
		align-items: center;
		padding: 4rem;
	}
}

.selected {
	width: 100%;
	height: 100%;
}

.selected__gallery {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 50%;

	&__prev,
	&__next {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: auto;
		height: 100%;
		cursor: pointer;
	}

	&__prev {
		top: 0;
		left: 0;
		padding-left: 2rem;
		padding-right: 1rem;

		&::after {
			content: '';
			border-top: 1.5rem solid transparent;
			border-bottom: 1.5rem solid transparent;
			border-right: 2rem solid var(--base16-white);
			transition: all 0.2s;
		}

		&:hover {
			&::after {
				border-top-color: var(--base16-red);
				border-left-color: var(--base16-red);
			}
		}
	}

	&__next {
		top: 0;
		right: 0;
		padding-left: 1rem;
		padding-right: 2rem;

		&::after {
			content: '';
			border-top: 1.5rem solid transparent;
			border-bottom: 1.5rem solid transparent;
			border-left: 2.5rem solid var(--base16-white);
			transition: all 0.2s;
		}

		&:hover {
			&::after {
				border-top-color: var(--base16-red);
				border-right-color: var(--base16-red);
			}
		}
	}

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;

		& > img {
			object-fit: cover;
			max-width: 100%;
		}
	}
}

.selected__gallery__index {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, 0);

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1rem 0.5rem;

		&:hover {
			&::after {
				background-color: var(--base16-light-grey);
			}
		}
		&.active {
			&::after {
				background-color: var(--base16-green);
			}
		}
		&::after {
			content: '';
			width: 2rem;
			height: 1rem;
			background-color: var(--base16-black);
		}
	}
}

.project {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 16rem;
	overflow: hidden;
	border: 6px solid var(--base16-dark-grey);
	transition: all 0.25s;
	cursor: pointer;
	user-select: none;

	&:hover,
	&.active {
		border-color: var(--base16-light-grey);
	}

	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		backdrop-filter: blur(6px);
		background-color: #1d1f21c2;
		padding: 1rem;
		font-size: 14pt;

		& > :not(:last-child) {
			margin-bottom: 0.25em;
		}
	}

	background-size: cover;
	background-position: center;
}

.ascii-art {
	justify-self: center;
	display: block;
	white-space: pre;
	color: currentColor;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bolder;
	background-size: 200% 100%;
	font-size: 0.5em;
	line-height: 1em;
	letter-spacing: -1px;
}

.rainbow {
	background-image: repeating-linear-gradient(
		to right,
		var(--base16-red),
		var(--base16-orange),
		var(--base16-yellow),
		var(--base16-green),
		var(--base16-turquoise),
		var(--base16-blue),
		var(--base16-purple),
		var(--base16-red)
	);
	background-clip: text;
	color: transparent;
	filter: drop-shadow(3px 3px 2px #000000) drop-shadow(3px 3px 2px #000000) saturate(3);
	animation: rainbow-scroll 3s reverse linear infinite;
}

@keyframes rainbow-scroll {
	from {
		background-position: 0% 0%;
	}
	to {
		background-position: 200% 200%;
	}
}

::-webkit-scrollbar {
	width: 24px;
}
::-webkit-scrollbar-thumb {
	border: solid rgba(0, 0, 0, 0);
	border-width: 8px 16px;
	background-clip: padding-box;
	background-color: var(--base16-dark-grey);
}
::-webkit-scrollbar-button {
	width: 0;
	height: 0;
	display: none;
}
::-webkit-scrollbar-corner {
	background-color: transparent;
}
