html {
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

*:link,
*:visited {
	color: currentColor;
	text-decoration: none;
}

body {
	background-image: url('/images/bg.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	image-rendering: pixelated;
	image-rendering: -webkit-optimize-contrast;
	font-size: 1.6rem;
	font-family: 'ＭＳ ゴシック', 'MS Gothic', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', '游ゴシック', '游ゴシック体',
		YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, HiraKakuProN-W3, 'TakaoExゴシック', TakaoExGothic, 'MotoyaLCedar',
		'Droid Sans Japanese', sans-serif;
	// font-family: 'Source Sans Pro', sans-serif;
}

#wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	min-height: 100vh;
	overflow: hidden;
}

.header {
	user-select: none;
	display: flex;
	width: 100%;
	padding: 8px;
	background-color: var(--base16-black);
	font-size: 10pt;

	& img {
		width: auto;
		height: 16px;
	}
}

.navbar {
	display: flex;
	justify-content: center;
	align-items: center;

	&__link {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--base16-white);

		&__icon {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 24px;
			width: 32px;
		}

		&__text {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 24px;
			padding: 0 6px;
		}
	}

	&__link.active {
		background-color: var(--base16-green);
	}
}

.player {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 16px;
	margin-right: auto;

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 24px;
		width: 32px;
		background-color: var(--base16-blue);
	}

	&__text {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 24px;
		padding: 0 6px;
		background-color: var(--base16-white);
	}
}

.widgets {
	display: flex;
	justify-content: center;
	align-items: center;

	& > :not(:last-child) {
		margin-right: 1.6rem;
	}
}

.widget {
	display: flex;
	justify-content: center;
	align-items: center;

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--base16-white);
		height: 24px;
		width: 32px;

		&--network {
			background-color: var(--base16-turquoise);
		}

		&--time {
			background-color: var(--base16-yellow);
		}
	}

	&__info {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--base16-white);
		height: 24px;
		padding: 0 6px;
	}
}

.desktop {
	position: relative;
	width: 100%;
	flex: 1;
	transition: all 1s;
}

.workspace {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.windows {
	margin: auto;
	display: grid;
	gap: 32px;
	width: 56rem;
	height: 64rem;
}

.workspace--home {
	& .windows {
		margin: auto;
		display: grid;
		gap: 32px;
		width: 84rem;
		height: 56rem;
		grid-template-areas:
			'a a a b b'
			'a a a b b'
			'a a a b b'
			'a a a b b'
			'a a a c c'
			'a a a c c'
			'a a a c c';

		& > :nth-child(1) {
			grid-area: a;
		}
		& > :nth-child(2) {
			grid-area: b;
		}
		& > :nth-child(3) {
			grid-area: c;
		}
	}
}

.window {
	background-color: var(--base16-black);
	border: 4px solid var(--base16-grey);
	box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.801);
}
