<header class="header">
	<nav class="navbar">
		<a href="/" class="navbar__brand">
			<span class="navbar__label">KingOfCaves</span>
			<!-- <i class="navbar__brand__icon fas fa-mountain"></i> -->
		</a>
		<a href="https://github.com/KingOfCaves" target="_blank" class="navbar__link">
			<span class="navbar__label">github</span>
			<i class="fab fa-github-square"></i>
		</a>
		<a href="https://www.linkedin.com/in/nick-wills/" target="_blank" class="navbar__link">
			<span class="navbar__label">linkedin</span>
			<i class="fab fa-linkedin"></i>
		</a>
		<a href="mailto:nickolas.a.wills@gmail.com" target="_blank" class="navbar__link">
			<span class="navbar__label">email</span>
			<i class="fas fa-envelope-square"></i>
		</a>
		<a href="https://docs.google.com/document/d/1Ar_dI5MdS2OVrZpBFD8BgQxXBiXqkLRzTHJf0ny1Woo/edit?usp=sharing" target="_blank" class="navbar__link">
			<span class="navbar__label">resume</span>
			<i class="fas fa-user-tie"></i>
		</a>
	</nav>
	<h1 class="heading-primary">
		<p class="heading-main">Nick Wills</p>
		<p class="heading-sub">Frontend Web Developer</p>
	</h1>
</header>